@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.body {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

.header__logo {
  max-width: 100%;
  padding: 88px 0 60px 0;
}

@media (max-width: 1200px) {
  .header__logo {
    padding: 44px 0 30px 0;
  }
}

@media (max-width: 767px) {
  .header__logo {
    padding: 40px 0 30px;
  }
}

.logo {
  text-align: center;
}

.logo__img {
  max-width: 432px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  padding: 0 20px;
}

.logo__img img {
  min-width: 100%;
}

@media (max-width: 767px) {
  .logo__img {
    max-width: 250px;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 2px solid #c4c4c4;
}

@media (max-width: 767px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu__list-item {
  text-align: center;
  border-left: 2px solid #c4c4c4;
}

@media (max-width: 992px) {
  .menu__list-item {
    width: 120px;
  }
}

@media (max-width: 767px) {
  .menu__list-item {
    border: none;
    width: 100%;
    border-bottom: 2px solid #c4c4c4;
  }
}

.menu__list-item:last-child {
  border-right: 2px solid #c4c4c4;
}

@media (max-width: 767px) {
  .menu__list-item:last-child {
    border: none;
    border-bottom: 2px solid #c4c4c4;
  }
}

.menu__list-link {
  width: 300px;
  font-size: 24px;
  line-height: 28px;
  color: #888888;
  display: block;
  padding: 34px 10px 38px 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 1200px) {
  .menu__list-link {
    width: 170px;
    padding: 17px 5px 19px;
  }
}

@media (max-width: 992px) {
  .menu__list-link {
    padding: 10px 5px 12px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 767px) {
  .menu__list-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
}

.menu__list-link:hover {
  background: #020202;
  color: white;
}

@media (max-width: 992px) {
  .menu__list-link {
    width: 100%;
  }
}

.slider__item {
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

@media (max-width: 1200px) {
  .slider__item {
    min-height: 400px;
  }
}

@media (max-width: 992px) {
  .slider__item {
    min-height: 300px;
  }
}

@media (max-width: 767px) {
  .slider__item {
    min-height: 200px;
  }
}

.slick-arrow {
  width: 70px;
  height: 70px;
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  z-index: 5;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slick-next {
  right: 20px;
}

.slick-prev {
  left: 20px;
}

.search {
  font-family: Roboto Condensed;
}

.search__inner {
  padding: 60px 70px;
}

@media (max-width: 992px) {
  .search__inner {
    padding: 40px 35px;
  }
}

@media (max-width: 600px) {
  .search__inner {
    padding: 20px;
  }
}

.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .search__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.search__form-label {
  font-size: 24px;
  line-height: 24px;
  color: #888888;
  margin: 0 69px 0 0;
  width: 156px;
}

@media (max-width: 600px) {
  .search__form-label {
    margin: 0 0 10px 0;
    width: 100%;
    font-size: 20px;
  }
}

.search__form-input {
  width: 430px;
  height: 70px;
  font-size: 18px;
  line-height: 24px;
  color: #888888;
  border: 2px solid #c4c4c4;
  padding: 0 15px;
}

@media (max-width: 992px) {
  .search__form-input {
    height: 60px;
  }
}

@media (max-width: 600px) {
  .search__form-input {
    width: 100%;
    height: 50px;
  }
}

.search__form-input::-webkit-input-placeholder {
  font-family: Roboto Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #888888;
}

.search__form-input:-ms-input-placeholder {
  font-family: Roboto Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #888888;
}

.search__form-input::-ms-input-placeholder {
  font-family: Roboto Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #888888;
}

.search__form-input::placeholder {
  font-family: Roboto Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #888888;
}

.search__form-btn {
  font-size: 24px;
  line-height: 102%;
  background-color: #c4c4c4;
  color: #ffffff;
  padding: 23px 23px 23px 36px;
  position: relative;
}

@media (max-width: 992px) {
  .search__form-btn {
    padding: 18px 23px 18px 36px;
  }
}

@media (max-width: 600px) {
  .search__form-btn {
    width: 100%;
    padding: 9px 23px;
  }
}

.search__form-btn::before {
  content: "";
  background-image: url("../images/content/search.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 26px;
  left: 9px;
}

@media (max-width: 992px) {
  .search__form-btn::before {
    top: 22px;
    left: 11px;
  }
}

@media (max-width: 600px) {
  .search__form-btn::before {
    display: none;
  }
}

.popular {
  text-align: center;
}

.popular__title {
  background: #000000;
  font-size: 48px;
  line-height: 64px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  padding: 18px 15px;
}

@media (max-width: 776px) {
  .popular__title {
    font-size: 36px;
    line-height: 42px;
  }
}

.popular__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 100px 0;
}

@media (max-width: 1200px) {
  .popular__inner {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 50px 0 30px 0;
  }
}

@media (max-width: 992px) {
  .popular__inner {
    padding: 50px 0 0 0;
  }
}

.popular__item {
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  .popular__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .popular__item {
    margin: 0 10px;
  }
}

.popular__img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1200px) {
  .popular__img {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 992px) {
  .popular__img {
    width: 280px;
    height: 280px;
  }
}

@media (max-width: 767px) {
  .popular__img {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 500px) {
  .popular__img {
    width: 280px;
    height: 280px;
  }
}

.popular__item-title {
  font-family: Roboto Condensed;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #888888;
  padding: 30px 10px;
}

@media (max-width: 500px) {
  .popular__item-title {
    padding: 20px 10px;
  }
}

.popular__link {
  font-family: Roboto Condensed;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background: #c4c4c4;
  border: 2px solid #c4c4c4;
  padding: 13px 48px;
  border: none;
}

.reason__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}

@media (max-width: 1200px) {
  .reason__inner {
    padding: 30px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.reason__item {
  width: 600px;
  padding-right: 100px;
}

@media (max-width: 1200px) {
  .reason__item {
    width: 100%;
    padding: 0 30px 30px 30px;
  }
}

@media (max-width: 992px) {
  .reason__item {
    padding: 0 20px 30px 20px;
  }
}

@media (max-width: 620px) {
  .reason__item {
    padding: 0 0 30px 0;
  }
}

.reason__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  padding-left: 136px;
  margin-bottom: 26px;
  position: relative;
}

@media (max-width: 1200px) {
  .reason__title {
    padding-left: 70px;
  }
}

@media (max-width: 620px) {
  .reason__title {
    font-size: 24px;
    line-height: 24px;
  }
}

.reason__title::before {
  content: "";
  width: 103px;
  height: 103px;
  position: absolute;
  top: 0;
  left: 0;
}

.reason .reason__title--icon01::before {
  content: "";
  background-image: url("../images/content/icon/icons01.png");
}

@media (max-width: 1200px) {
  .reason .reason__title--icon01::before {
    width: 50px;
    height: 50px;
    background-size: cover;
  }
}

.reason .reason__title--icon02::before {
  content: "";
  background-image: url("../images/content/icon/icons02.png");
}

@media (max-width: 1200px) {
  .reason .reason__title--icon02::before {
    width: 50px;
    height: 50px;
    background-size: cover;
  }
}

.reason__text {
  font-family: Roboto Condensed;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 42px;
}

.reason__link {
  font-family: Roboto Condensed;
  font-size: 18px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #888888;
  padding-left: 36px;
  position: relative;
}

.reason__link::before {
  content: "";
  background-image: url("../images/content/icon/arrow-black.svg");
  width: 30px;
  height: 30px;
  position: absolute;
  top: -4px;
  left: 0;
}

.best {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  text-align: right;
}

@media (max-width: 1200px) {
  .best {
    min-height: 80vh;
  }
}

@media (max-width: 992px) {
  .best {
    min-height: 600px;
  }
}

@media (max-width: 767px) {
  .best {
    min-height: 400px;
  }
}

.best__title {
  max-width: 492px;
  margin-left: auto;
  font-size: 48px;
  line-height: 48px;
  font-weight: 400;
  color: #000;
  padding: 68px 0 15px 0;
}

@media (max-width: 767px) {
  .best__title {
    font-size: 34px;
    line-height: 34px;
  }
}

.best__link {
  font-family: Roboto Condensed;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  display: inline-block;
  background: #020202;
  padding: 16px 18px;
}

.about {
  background-color: #000000;
  padding: 100px 0;
}

@media (max-width: 1200px) {
  .about {
    padding: 50px 0;
  }
}

@media (max-width: 767px) {
  .about {
    padding: 20px 0;
  }
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  .about__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.about__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 27px;
}

@media (max-width: 767px) {
  .about__title {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 17px;
  }
}

.managers {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 297px;
          flex: 0 0 297px;
}

@media (max-width: 992px) {
  .managers {
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .managers {
    margin: 0 auto;
    padding-right: 0px;
    padding-bottom: 30px;
    max-width: 100%;
  }
}

.managers__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.managers__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
}

.managers__img01, .managers__img02 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 22px;
}

.managers__list {
  font-family: Roboto Condensed;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  list-style: none;
}

.managers__btn {
  font-family: Roboto Condensed;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  padding: 16px 21px;
  margin-top: 43px;
}

@media (max-width: 767px) {
  .managers__btn {
    margin-top: 23px;
  }
}

.blog {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 411px;
          flex: 0 0 411px;
}

@media (max-width: 992px) {
  .blog {
    padding-left: 15px;
  }
}

@media (max-width: 767px) {
  .blog {
    margin: 0 auto;
    padding-left: 0px;
    max-width: 100%;
  }
}

.blog__title {
  margin-bottom: 47px;
}

@media (max-width: 767px) {
  .blog__title {
    margin-bottom: 17px;
  }
}

.blog__link {
  font-family: Roboto Condensed;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 28px;
  padding-left: 67px;
  position: relative;
}

@media (max-width: 992px) {
  .blog__link {
    padding-left: 47px;
  }
}

@media (max-width: 767px) {
  .blog__link {
    margin-bottom: 18px;
    padding-left: 40px;
  }
}

.blog__link::before {
  content: "";
  background-image: url("../images/content/about/arrow-white.svg");
  width: 30px;
  height: 30px;
  position: absolute;
  top: -5px;
  left: 0;
}

.reviews {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
}

@media (max-width: 1200px) {
  .reviews {
    margin: 30px auto;
  }
}

@media (max-width: 767px) {
  .reviews {
    max-width: 100%;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.reviews__title {
  margin-bottom: 47px;
}

@media (max-width: 767px) {
  .reviews__title {
    margin-bottom: 17px;
  }
}

.reviews__img {
  width: 300px;
  height: 127px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.reviews__img img {
  max-width: 100%;
}

.reviews__text {
  font-family: Roboto Condensed;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  padding: 22px 0;
}

.reviews__link {
  display: inline-block;
  font-family: Roboto Condensed;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  padding: 16px 28px;
  background: #ffffff;
}

.footer__top {
  background-color: #000000;
  padding: 100px 0;
}

@media (max-width: 1200px) {
  .footer__top {
    padding: 50px 0;
  }
}

@media (max-width: 992px) {
  .footer__top {
    padding: 30px 0;
  }
}

.footer__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .footer__top-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__menu {
  width: 250px;
  margin-right: 50px;
}

@media (max-width: 767px) {
  .footer__menu {
    margin: 0 auto;
    text-align: center;
  }
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-link {
  font-family: Roboto Condensed;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}

@media (max-width: 992px) {
  .footer__menu-link {
    font-size: 18px;
    line-height: 24px;
  }
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .footer__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__form-label {
  font-family: Roboto Condensed;
  font-size: 18px;
  line-height: 18px;
  color: #888888;
  margin-right: 10px;
  width: 82px;
}

@media (max-width: 992px) {
  .footer__form-label {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 16px 0;
  }
}

.footer__form-input {
  font-family: Roboto Condensed;
  font-size: 18px;
  line-height: 24px;
  color: #888888;
  padding: 0 15px;
  width: 511px;
  height: 70px;
  background: #ffffff;
  border: 2px solid #c4c4c4;
}

@media (max-width: 992px) {
  .footer__form-input {
    height: 50px;
  }
}

@media (max-width: 767px) {
  .footer__form-input {
    width: 280px;
  }
}

.footer__form-input::-webkit-input-placeholder {
  font-family: Roboto Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #888888;
}

.footer__form-input:-ms-input-placeholder {
  font-family: Roboto Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #888888;
}

.footer__form-input::-ms-input-placeholder {
  font-family: Roboto Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #888888;
}

.footer__form-input::placeholder {
  font-family: Roboto Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #888888;
}

.footer__form-btn {
  font-family: Roboto Condensed;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  background: #c4c4c4;
  padding: 26px 35px;
}

@media (max-width: 992px) {
  .footer__form-btn {
    padding: 16px 28px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .footer__form-btn {
    width: 280px;
  }
}

.footer__logo {
  margin-bottom: 23px;
}
